USE [Fullerton_Cafe]
GO
/****** Object:  Table [dbo].[BUSINESS]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUSINESS](
	[CustomerID] [int] NOT NULL,
	[CompanyName] [char](100) NULL,
 CONSTRAINT [PK_BUSINESS] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CustomerType] [char](10) NOT NULL,
	[CustomerFirstName] [char](50) NULL,
	[CustomerLastName] [char](50) NULL,
	[Address] [char](100) NULL,
	[City] [char](50) NULL,
	[State] [char](2) NULL,
	[Zip] [char](10) NULL,
	[PhoneNumber] [char](20) NULL,
	[Email] [char](50) NULL,
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL](
	[MaterialName] [char](30) NOT NULL,
	[MaterialCost] [numeric](5, 2) NULL,
	[MaterialCategory] [char](30) NULL,
	[MaterialQtyOnHand] [numeric](3, 0) NULL,
	[MaterialMinQtyReqd] [numeric](3, 0) NULL,
	[MaterialQtyUOM] [char](10) NULL,
	[MaterialType] [char](10) NULL,
	[MenuID] [int] NOT NULL,
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MEMBER]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBER](
	[CustomerID] [int] NOT NULL,
	[Points] [float] NULL,
	[Rewards] [float] NULL,
	[MembershipStatus] [char](10) NULL,
 CONSTRAINT [PK_MEMBER] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MENU]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[MenuName] [char](30) NOT NULL,
	[MenuPrice] [numeric](5, 2) NULL,
	[MenuCategroy] [char](30) NULL,
	[MENUID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MENUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MENUORDERDETAIL_INT]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENUORDERDETAIL_INT](
	[MenuID] [int] NOT NULL,
	[OrderDetailID] [int] NOT NULL,
	[MENUORDERDETAILID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MENUORDERDETAILID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Taxes] [numeric](5, 2) NULL,
	[Surcharge] [numeric](5, 2) NULL,
	[DeliveryFee] [numeric](18, 0) NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentType] [char](10) NOT NULL,
	[PaymentAmount] [numeric](5, 2) NOT NULL,
	[PaymentRef] [char](100) NULL,
	[DeliveryType] [char](10) NULL,
	[ORDERID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDERDETAIL]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAIL](
	[OrderID] [int] NOT NULL,
	[PromotionID] [int] NULL,
	[Quantity] [numeric](4, 0) NULL,
	[ORDERDETAILID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDERDETAILID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[PROMOTION]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION](
	[PromotionName] [char](50) NULL,
	[PromoCode] [char](10) NULL,
	[PromoStartDate] [date] NULL,
	[PromoEndDate] [date] NULL,
	[PromoDiscount] [numeric](5, 2) NULL,
	[PROMOTIONID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PROMOTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHIFT]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIFT](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftName] [char](20) NOT NULL,
	[ShiftDate] [datetime] NULL,
 CONSTRAINT [PK_SHIFT] PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[StaffFirstName] [char](20) NOT NULL,
	[StaffLastName] [char](20) NOT NULL,
	[StaffRole] [char](10) NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAFFORDER_INT]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFORDER_INT](
	[StaffOrderID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[OrderID] [int] NOT NULL,
 CONSTRAINT [PK_STAFFORDER_INT] PRIMARY KEY CLUSTERED 
(
	[StaffOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAFFSHIFT_INT]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFSHIFT_INT](
	[StaffShiftID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[ShiftID] [int] NULL,
 CONSTRAINT [PK_STAFFSHIFT_INT] PRIMARY KEY CLUSTERED 
(
	[StaffShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VENDOR]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDOR](
	[VendorName] [char](50) NOT NULL,
	[VendorAddress] [char](100) NULL,
	[VendorCity] [char](50) NULL,
	[VendorState] [char](2) NULL,
	[VendorZip] [char](10) NULL,
	[VendorStatus] [char](10) NULL,
	[VENDORID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VENDORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VENDORMATERIAL_INT]    Script Date: 10/22/2018 12:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDORMATERIAL_INT](
	[VendorMaterialID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NOT NULL,
	[MaterialID] [int] NOT NULL,
 CONSTRAINT [PK_VENDORMATERIAL_INT] PRIMARY KEY CLUSTERED 
(
	[VendorMaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TABLE [dbo].[BUSINESS]  WITH CHECK ADD  CONSTRAINT [CustomerBusinessFK] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BUSINESS] CHECK CONSTRAINT [CustomerBusinessFK]
GO
ALTER TABLE [dbo].[MATERIAL]  WITH CHECK ADD  CONSTRAINT [MenuMaterialFK] FOREIGN KEY([MenuID])
REFERENCES [dbo].[MENU] ([MENUID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MATERIAL] CHECK CONSTRAINT [MenuMaterialFK]
GO
ALTER TABLE [dbo].[MEMBER]  WITH CHECK ADD  CONSTRAINT [CustomerMemberFK] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MEMBER] CHECK CONSTRAINT [CustomerMemberFK]
GO
ALTER TABLE [dbo].[MENUORDERDETAIL_INT]  WITH CHECK ADD  CONSTRAINT [MenuMenuOrderDetail_IntFK] FOREIGN KEY([MenuID])
REFERENCES [dbo].[MENU] ([MENUID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MENUORDERDETAIL_INT] CHECK CONSTRAINT [MenuMenuOrderDetail_IntFK]
GO
ALTER TABLE [dbo].[MENUORDERDETAIL_INT]  WITH CHECK ADD  CONSTRAINT [OrderDetailMenuOrderDetail_IntFK] FOREIGN KEY([OrderDetailID])
REFERENCES [dbo].[ORDERDETAIL] ([ORDERDETAILID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MENUORDERDETAIL_INT] CHECK CONSTRAINT [OrderDetailMenuOrderDetail_IntFK]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [CustomerOrderFK] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [CustomerOrderFK]
GO
ALTER TABLE [dbo].[ORDERDETAIL]  WITH CHECK ADD  CONSTRAINT [OrderOrderDetailFK] FOREIGN KEY([OrderID])
REFERENCES [dbo].[ORDER] ([ORDERID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDERDETAIL] CHECK CONSTRAINT [OrderOrderDetailFK]
GO
ALTER TABLE [dbo].[ORDERDETAIL]  WITH CHECK ADD  CONSTRAINT [PromoOrderDetailFK] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[PROMOTION] ([PROMOTIONID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ORDERDETAIL] CHECK CONSTRAINT [PromoOrderDetailFK]
GO

ALTER TABLE [dbo].[STAFFORDER_INT]  WITH CHECK ADD  CONSTRAINT [OrderStaffFK] FOREIGN KEY([OrderID])
REFERENCES [dbo].[ORDER] ([ORDERID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFFORDER_INT] CHECK CONSTRAINT [OrderStaffFK]
GO
ALTER TABLE [dbo].[STAFFORDER_INT]  WITH CHECK ADD  CONSTRAINT [StaffOrderFK] FOREIGN KEY([StaffID])
REFERENCES [dbo].[STAFF] ([StaffID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[STAFFORDER_INT] CHECK CONSTRAINT [StaffOrderFK]
GO
ALTER TABLE [dbo].[STAFFSHIFT_INT]  WITH CHECK ADD  CONSTRAINT [ShiftStaffShift_IntFK] FOREIGN KEY([ShiftID])
REFERENCES [dbo].[SHIFT] ([ShiftID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFFSHIFT_INT] CHECK CONSTRAINT [ShiftStaffShift_IntFK]
GO
ALTER TABLE [dbo].[STAFFSHIFT_INT]  WITH CHECK ADD  CONSTRAINT [StaffStaffShift_IntFK] FOREIGN KEY([StaffID])
REFERENCES [dbo].[STAFF] ([StaffID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFFSHIFT_INT] CHECK CONSTRAINT [StaffStaffShift_IntFK]
GO
ALTER TABLE [dbo].[VENDORMATERIAL_INT]  WITH CHECK ADD  CONSTRAINT [MaterialVendorMaterial_IntFK] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[MATERIAL] ([MaterialID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VENDORMATERIAL_INT] CHECK CONSTRAINT [MaterialVendorMaterial_IntFK]
GO
ALTER TABLE [dbo].[VENDORMATERIAL_INT]  WITH CHECK ADD  CONSTRAINT [VendorVendorMaterial_IntFK] FOREIGN KEY([VendorID])
REFERENCES [dbo].[VENDOR] ([VENDORID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VENDORMATERIAL_INT] CHECK CONSTRAINT [VendorVendorMaterial_IntFK]
GO

